# Proyectos ejemplo del MCUXpresso
AzureRTOS_TAD_logs/
frdmmcxn947_ctimer_match_interrupt_example_cm33_core0/
frdmmcxn947_dac_1_basic_cm33_core0/
frdmmcxn947_dac_sinewave_cm33_core0/
frdmmcxn947_dac_sinewave_cm33_core0_UART/
frdmmcxn947_lpadc_polling_cm33_core0/
frdmmcxn947_lpflexcomm_interrupt_transfer_cm33_core0/
frdmmcxn947_powerquad_fir_fast_cm33_core0/
FreeRTOS_TAD_logs/
ZephyrRTOS_TAD_logs/

# Debug
MCXN947_TP1/Debug/
MCXN947_TP1\Debug\

# Backup
MCXN947_TP1_2/
